body {
	background-image:url('bg.jpg');
	font: 1em Arial Rounded MT Bold, Helvetica, Arial, sans-serif;	
	}



h1   {
	text-align: right;
	color: #FFFFFF;
	font-size:15px;
	position: absolute; bottom: 0; right:0;
}

body { /* make everything at the middle*/
	/*text-align: center;*/
}


#titleHolder {  /*group the candy and candyimage,make them in the middle of the page */
	width: 480px;
	height: 50px;
	margin: 0px auto;
}

#candy {
	float: left;
	/*
	background-color:#FAC8D9;
	
	background:linear-gradient(to right,#F75A93,#F75A73);*/
	width:100px;
	height:100px;
	position: relative; /* without this it will be at the bottom of the page */
	/*margin: 0px auto;*/
	/*padding: 10px 20px 10px 20px;*/
	/*margin:50px, 0px, 50px, 100px;
	border-top-left-radius:1em;
	border-top-right-radius:0em;
	border-bottom-right-radius:0em;
	border-bottom-left-radius:1em;
	*/
}

#mainlogo{
	float:left;
	width: 50px;
	height: 50px;
	background-color: #000000;
	position:relative;
	}
	
#mimage {
    height: 50px;
}

img {
    vertical-align: middle;
    height: 100%;
}

#candyimage {
	float: left;
	background-color: #000000;
	width:430px;
	height:50px;
	/*margin: 0px auto;*/
	/*padding: 10px 20px 10px 20px;
	margin:50px, 100px, 50px, 0px;
	border-top-left-radius:0em;
	border-top-right-radius:1em;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:0em;
	*/
	background-image: url("header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	position: relative;
	vertical-align: middle;
}

   		  
#search {
	display: table-cell;
	width:150px;
	height:20px;
	position: relative;
	vertical-align: middle;
	text-align: center;
	margin: 15px 0px 15px 100px;
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:1em;
	border-color: #F75A93;
	
}

#sbutton {
	width:80px;
	height:30px;
	position:relative;
	background-color: #F75A93;
	font-size: 12px;
	color: #FFFFFF;
	border-radius: 10px;
}

h2 {
	color: #FFFFFF;
	font-size: 30px;
}

#mainmenu{
	display:none;
	height: 50px;
	width:300px;
	margin: 0px auto;
	border-style:none;
	
	background:linear-gradient(to right,#F75A93,#F75A73);
	text-indent:0em;
	padding-top:0.5px;

	padding-left:1em;
	padding-right:1em;
	padding-bottom:0.5px;
	border-radius:15px;
}
#mainmenu{
	margin-top:2em;
	}
A:link {
	text-decoration: none;
	color:#FFF ;
	opacity: .9;
}
A:visited { 
	text-decoration: none;
	color: #FFF;
}
A:active {
	text-decoration: none;
	color: #FFF;
}

#mainmenu li:hover {
	background: #FF91AF;
	
	padding-top:2px;
	padding-bottom:2px;	
	border-radius:25px;
}
#mainmenu li{
	display: hide;
	list-style-type: none;
	margin-top: 1em;
	margin-right: 1px;/*spreads out the items in main menu for better spacing*/
	padding-bottom:0;
	padding-top:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	border-style:none;
	-moz-transition: background-color, color 2s;
	-webkit-transition:background-color, color 2s;
	-o-transition: background-color, color, 2s;
	transition: background-color, color, 2s;
	font-size: 10px;
	
}

#mainmenu2{
	display: run-in;
	width: 300px;
	height: 80px;

	border-style:none;
	background:linear-gradient(to right,#F75A93,#F75A73);
	background:-webkit-linear-gradient(right,#F75A93,#F75A73);
	border-radius:15px;
	/*	margin: 0px auto;*/
	margin: 0px 90px 0px 90px;
}

#menu480{
	width:240px;
	height:60px;
	margin: 10px 30px 10px 30px;
	position:absolute;
	
}

.menuleft{
	float: left;
	width: 120px;
	height: 20px;
	position:relative;
	display: inline;
	list-style-type: none;
	text-align:center;
}

.menuleft ul{
	list-style-type: none;
	margin: 0px 0px 0px -40px;
}

.menuright{
	float: left;
	width: 120px;
	height: 20px;
	position:relative;
	display: inline;
	list-style-type: none;
	text-align:center;
}

.menuright ul{
	list-style-type: none;
	margin: 0px 0px 0px -40px;
}

.menufont{
	font-size: 2px;
}

#mainmenu2{
	margin-top:2em;
	}
A:link {
	text-decoration: none;
	color:#FFF ;
	opacity: .9;
}
A:visited { 
	text-decoration: none;
	color: #FFF;
}
A:active {
	text-decoration: none;
	color: #FFF;
}

#mainmenu2 li:hover {
	background: #FF91AF;
	padding-top:2px;
	padding-bottom:2px;	
	border-radius:25px;
}


#mainmenu2 li{
	display: inline;
	list-style-type: none;
	margin-top: 2em;
	margin-right:10px;
	padding-top:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	border-style:none;
	-moz-transition: background-color, color 2s;
	-webkit-transition:background-color, color 2s;
	-o-transition: background-color, color, 2s;
	transition: background-color, color, 2s;	
}




#welcome {
	width: 400px;
	height: 171.43px;
	position: relative;
	vertical-align: middle;
	background-image: url("welcome.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	/*border-top-left-radius:1em;
	border-top-right-radius:1em;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:1em;
	margin: 0px auto;*/
	margin: 0px 40px 0px 40px;

}


#welcometext{
	display: table-cell;
	width: 400px;
	height: 171.43px;
	position: relative;
	vertical-align:middle;
	text-align: center;
	opacity: .7;
	/*
	text-shadow: -2px 0 #F75A93, 0 2px #F75A93, 2px 0 #F75A93, 0 -2px #F75A93;
	*/
}

h2 {
 font-size:15px;
}

h3 {
	color: #F75A93;
	font-size:25px;
}
#deals {
	width: 480px;
	height: 480px;
	margin: 0px auto;
	border-top-style:solid;	
	border-top-color: #F75A93;
	border-right-style:none;
	border-left-style:none;
	border-bottom-style:solid;
	border-bottom-color: #F75A93;
}

#dealstext {
	width: 400px;
	height: 20px;
	margin: 0px 40px 0px 40px;
}

#dealscandy {
	width: 480px;
	height:400px;
	margin: 0px auto;
}


#candy1 {
	float:left;
	width: 150px;
	height: 150px;
	margin: 10.5px;
	border: 2px solid;
	border-color: #F75A93; 
	border-radius:25px;
	background-image: url("candy1.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 23px 43px 23px 43px;
}


.lable1 {
	width:150px;
	height:50px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color:#F75A93;
	margin:100px 0px 0px 0px;
	position: relative;
	vertical-align: middle;
}

#l1 {
	display: table-cell;
	width: 150px;
	height: 50px;
	position: relative;
	vertical-align:middle;
	text-align: center;
}

#l1 a:link {
   		  color: #FFFFFF;
		  text-decoration: none;
  		  opacity: .9;
  		  }
#l1 a:visited {
  		 color: #FFFFFF;
  	     opacity: .1;	
  		  }
#l1 a:hover {
		text-shadow: -1px 0 #FF9696, 0 1px #FF9696, 1px 0 #FF9696, 0 -1px #FF9696;
		border-color: #000000;
   		text-decoration: none;
  		color: #FFFFFF;
   		opacity: 1;
   		  }



#candy2 {
	float:left;
	width: 150px;
	height: 150px;
	/*
	background-color: #000000;
	*/
	margin: 10.5px;
	border: 2px solid;
	border-color: #F75A93; 
	border-radius:25px;
	background-image: url("candy2.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 23px 43px 23px 43px;
}

#l2 {
	display: table-cell;
	width: 150px;
	height: 50px;
	position: relative;
	vertical-align:middle;
	text-align: center;
}

#l2 a:link {
   		  color: #FFFFFF;
		  text-decoration: none;
  		  opacity: .9;
  		  }
#l2 a:visited {
  		 color: #FFFFFF;
  	     opacity: .1;	
  		  }
#l2 a:hover {
		text-shadow: -1px 0 #FF9696, 0 1px #FF9696, 1px 0 #FF9696, 0 -1px #FF9696;
		border-color: #000000;
   		text-decoration: none;
  		color: #FFFFFF;
   		opacity: 1;
   		  }

#candy3 {
	float:left;
	width: 150px;
	height: 150px;
	background-color: #000000;
	margin: 10.5px;
	border: 2px solid;
	border-color: #F75A93; 
	border-radius:25px;
	background-image: url("candy3.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 23px 43px 23px 43px;
}

#l3 {
	display: table-cell;
	width: 150px;
	height: 50px;
	position: relative;
	vertical-align:middle;
	text-align: center;
}

#l3 a:link {
   		  color: #FFFFFF;
		  text-decoration: none;
  		  opacity: .9;
  		  }
#l3 a:visited {
  		 color: #FFFFFF;
  	     opacity: .1;	
  		  }
#l3 a:hover {
		text-shadow: -1px 0 #FF9696, 0 1px #FF9696, 1px 0 #FF9696, 0 -1px #FF9696;
		border-color: #000000;
   		text-decoration: none;
  		color: #FFFFFF;
   		opacity: 1;
   		  }

#candy4 {
	float:left;
	width: 150px;
	height: 150px;
	background-color: #000000;
	margin: 10.5px;
	border: 2px solid;
	border-color: #F75A93; 
	border-radius:25px;
	background-image: url("candy4.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 23px 43px 23px 43px;
}

#l4 {
	display: table-cell;
	width: 150px;
	height: 50px;
	position: relative;
	vertical-align:middle;
	text-align: center;
}

#l4 a:link {
   		  color: #FFFFFF;
		  text-decoration: none;
  		  opacity: .9;
  		  }
#l4 a:visited {
  		 color: #FFFFFF;
  	     opacity: .1;	
  		  }
#l4 a:hover {
		text-shadow: -1px 0 #FF9696, 0 1px #FF9696, 1px 0 #FF9696, 0 -1px #FF9696;
		border-color: #000000;
   		text-decoration: none;
  		color: #FFFFFF;
   		opacity: 1;
   		  }
   		  
/*
#holder {
	width: 700px;
	height: 250px;
	margin: 0px auto;
}

#about {
	float:left;
	width: 200px;
	height: 225px;
	background-color: #000000;
	margin:16px;
}

#contact {
	float: left;
	width: 200px;
	height: 225px;
	background-color: #000000;
	margin:16px;
}

#order {
	float:left;
	width: 200px;
	height: 225px;
	background-color: #000000;
	margin:16px;
}


*/

#discribe {
	display: none;
}

#more {
	width:480px;
	height: 120px;
	margin: 0px auto;
	background-color: #575254;
	position: relative;
	vertical-align: middle;
}

h4 {
	color: #FFFFFF;
	size: 15px;
}

#moretext {
	display: table-cell;
	width: 480px;
	height: 120px;
	position: relative;
	vertical-align:middle;
	text-align: center;
	/*
	background-color:#FAC8D9;
	*/
	background:linear-gradient(to right,#F75A93,#F75A73);
}

nav ul li {
	display: inline;
	list-style: none;
	margin-right:0.5em;
}

h4{
	font-size: 10px;
}


#moretext a:link {
   		  color: #FFFFFF;
		  text-decoration: none;
  		  opacity: .8;
  		  }
#moretext a:visited {
  		 color: #FFFFFF;
  	     opacity: .1;	
  		  }
#moretext a:hover {
   		  text-decoration: none;
  		  color: #FFFFFF;
   		  opacity: 1;
   		  }
#moretext a:active {
   		  text-decoration: none;
   		  color: #FFFFFF;
   		  opacity:.7;
   		  }
   		  
