Body{
	background-image: url(images/ivory-off-white-paper-texture.jpg) ;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	font:1em Arial Rounded MT Bold, Helvetica, Arial, sans-serif;
	}

#header {
	width: 480px;
	height: 100px;
	background-image: url("images/headerimage3.png");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	position: relative;
	vertical-align: middle;
	margin: 0px auto;
	}
	
#mainlogo{
	float:left;
	width: 50px;
	height: 50px;
	background-color: #000000;
	position:relative;
	}
	
#logoimg {
	float:left;
	width: 600px;
	height: 50px;
	position: relative;

}

#search {
	display: table-cell;
	width:120px;
	height:20px;
	position: relative;
	text-align: center;
	margin: 0px 0px 50px 200px;
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:1em;
	border-color: #F75A93;
	
	
}

#sbutton {
	width:80px;
	height:30px;
	position:relative;
	background-color: #F75A93;
	font-size: 15px;
	color: #FFFFFF;
	border-radius: 10px;
		margin: 0px 0px 0px 20px;/*helps move search button position*/

}





#mainmenu{
	
	height: 90px;
	width:450px;
	margin: 0px auto;
	border-style:none;
	
	background:linear-gradient(to right,#F75A93,#F75A73);
	text-indent:0em;
		padding-top:0.5px;

	padding-left:1em;
	padding-right:1em;
	padding-bottom:0.5px;
	border-radius:15px;
	
}
#mainmenu{
	margin-top:2em;
	}
A:link {
	text-decoration: none;
	color:#FFF ;
}
A:visited { 
	text-decoration: none;
	color: #FFF;
}
A:active {
	text-decoration: none;
	color: #FFF;
}

#mainmenu li:hover {
	text-decoration: none;
	color: #FFF;
	
	
}
#mainmenu li{
display: inline;
	list-style-type: none;
	margin-right:5px;/*spreads out the items in main menu for better spacing*/
	padding-bottom:0;
	padding-top:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	border-style:none;
	font-size:20px;
	
}






	
div#items{



	
	text-indent:2.5em;
	
	border-bottom-style:solid;
	border-color: #F13C76;
	
}

div#footerimage img{
margin-left:60em;
float:left;


}




menu {
	margin-left:20em;
	padding-left:0em;
	padding-right:5em;
	}
	#about {
	float:left;
	
	margin:16px;
}

#contact {
	float: left;
	
	margin:16px;
}

#home {
	float:left;
	
	margin:16px;
}
	

#footer {
	width:480px;
	height: 120px;
	margin: 0px auto;
	background-color: #575254;
	position: relative;
	vertical-align: middle;
}

h4 {
	color: #FFFFFF;
	size: 15px;
}

#footertext {
	display: table-cell;
	width: 480px;
	height: 120px;
	position: relative;
	vertical-align:middle;
	text-align: center;
	background:linear-gradient(to right,#F75A93,#F75A73);
}

nav ul li {
	display: inline;
	list-style: none;
	margin-right:0.5em;
}

#footertext a:link {
   		  color: #FFFFFF;
		  text-decoration: none;
  		  opacity: .8;
  		  }
#footertext a:visited {
  		 color: #FFFFFF;
  	     opacity: .1;	
  		  }
#footertext a:hover {
   		  text-decoration: none;
  		  color: #FFFFFF;
   		  opacity: 1;
   		  }
#footertext a:active {
   		  text-decoration: none;
   		  color: #FFFFFF;
   		  opacity:.7;
   		  }

#aboutarea {
	width: 480px;
	height: 600px;

	background-color:rgba(0,0,0,0.5); /*just opacity the background not everything*/
	margin: 0px auto;
	border-radius:15px;
}

#about {
	width: 480px;
	height: 170px;
	margin: 0px auto;

	position: relative;
}

#about1 {
	width: 550px;
	height: 120px;
	
	margin: 25px 20px 25px 20px;
	}


#aboutimage {
	float: left;
	width: 150px;
	height: 150px;
	
	position: relative;
	margin: 0px 30px 0px 110px;
}


#abouttext	{
	float: left;
	width: 350px;
	height: 100px;
		color: #FFF;
	position: relative;
	padding: 0px;
	margin: 50px 10px 0px 50px;
}

#subtitle {
	font-size: 30px;
}
p {
	font-size: 14px;
	
	}

