body {
	background-image:url('bg.jpg');
	font: 1em Arial Rounded MT Bold, Helvetica, Arial, sans-serif;	
	}



h1   {
	text-align: right;
	color: #FFFFFF;
	font-size:15px;
	position: absolute; bottom: 0; right:0;
}

body { /* make everything at the middle*/
	/*text-align: center;*/
}


#titleHolder {  /*group the candy and candyimage,make them in the middle of the page */
	width: 700px;
	height: 125px;
	margin: 0px auto;
}

#candy {
	float: left;
	/*
	background-color:#FAC8D9;
	*/
	background:linear-gradient(to right,#F75A93,#F75A73);
	width:100px;
	height:125px;
	position: relative; /* without this it will be at the bottom of the page */
	/*margin: 0px auto;*/
	/*padding: 10px 20px 10px 20px;*/
	/*margin:50px, 0px, 50px, 100px;*/
	border-top-left-radius:1em;
	border-top-right-radius:0em;
	border-bottom-right-radius:0em;
	border-bottom-left-radius:1em;
	
}

#candyimage {
	float: left;
	background-color: #000000;
	width:600px;
	height:125px;
	/*margin: 0px auto;*/
	/*padding: 10px 20px 10px 20px;
	margin:50px, 100px, 50px, 0px;*/
	border-top-left-radius:0em;
	border-top-right-radius:1em;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:0em;
	background-image: url("header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


h2 {
	color: #FFFFFF;
	font-size: 30px;
}


#holder {
	width: 700px;
	height: 60px;
	margin: 0px auto;
	/*
	background-color: #000000;
	*/
	background:linear-gradient(to right,#F75A93,#F75A73);
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:1em;
}

h5{
	color: #FFFFFF;
	font-size: 15px;
}

#about {
	float:left;
	width: 175px;
	height: 60px;
	/*
	background-color: #4DEDF0;
	*/
	position: relative;
	vertical-align: middle;
	border-top-style:none;
	border-right-style:solid;
	border-right-color: #E8E8E8;
	border-right-width: 1px;
	border-left-style:none;
	border-bottom-style:none;
	border-top-left-radius:1em;
	border-top-right-radius:0em;
	border-bottom-right-radius:0em;
	border-bottom-left-radius:1em;
}

#atext {
	display: table-cell;
	width: 175px;
	height: 60px;
	position: relative;
	vertical-align:middle;
	text-align: center;
}


#contact {
	float:left;
	width: 175px;
	height: 60px;
	/*
	background-color: #4DEDF0;
	*/
	position: relative;
	vertical-align: middle;
	border-top-style:none;
	border-right-style:solid;
	border-right-color: #E8E8E8;
	border-right-width: 1px;
	border-left-style:none;
	border-bottom-style:none;
}

#ctext {
	display: table-cell;
	width: 175px;
	height: 60px;
	position: relative;
	vertical-align:middle;
	text-align: center;
}


#buy {
	float:left;
	width: 175px;
	height: 60px;
	/*
	background-color: #4DEDF0;
	*/
	position: relative;
	vertical-align: middle;
	border-top-style:none;
	border-right-style:solid;
	border-right-color: #E8E8E8;
	border-right-width: 1px;
	border-left-style:none;
	border-bottom-style:none;
}

#btext {
	display: table-cell;
	width: 175px;
	height: 60px;
	position: relative;
	vertical-align:middle;
	text-align: center;
}

#icon {
	float:left;
	width: 172px;
	height: 60px;
	/*
	background-color: #4DEDF0;
	*/
	position: relative;
	border-top-left-radius:0em;
	border-top-right-radius:1em;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:0em;
}



#welcome {
	/*background-color:#000000;*/
	width: 700px;
	height: 300px;
	margin: 0px auto;
	position: relative;
	vertical-align: middle;
	background-image: url("welcome.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:1em;

}


#welcometext{
	display: table-cell;
	width: 700px;
	height: 300px;
	position: relative;
	vertical-align:middle;
	text-align: center;
	opacity: .8;
}


h3 {
	color: #F75A93;
	font-size:25px;
}
#deals {
	width: 700px;
	height: 300px;
	margin: 0px auto;
	border-top-style:solid;	
	border-top-color: #F75A93;
	border-right-style:none;
	border-left-style:none;
	border-bottom-style:solid;
	border-bottom-color: #F75A93;
}

#dealstext {
	width: 700px;
	height: 20px;
}

#dealscandy {
	width: 700px;
	height:200px;
	margin: 0px auto;
	/*background-color: #575254;*/ /* used to text where is box */
}


#candy1 {
	float:left;
	width: 150px;
	height: 150px;
	/*
	background-color: #000000;*/
	margin: 10.5px;
	border: 2px solid;
	border-color: #F75A93; 
	border-radius:25px;
	background-image: url("candy1.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#candy2 {
	float:left;
	width: 150px;
	height: 150px;
	/*
	background-color: #000000;
	*/
	margin: 10.5px;
	border: 2px solid;
	border-color: #F75A93; 
	border-radius:25px;
	background-image: url("candy2.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#candy3 {
	float:left;
	width: 150px;
	height: 150px;
	background-color: #000000;
	margin: 10.5px;
	border: 2px solid;
	border-color: #F75A93; 
	border-radius:25px;
	background-image: url("candy3.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#candy4 {
	float:left;
	width: 150px;
	height: 150px;
	background-color: #000000;
	margin: 10.5px;
	border: 2px solid;
	border-color: #F75A93; 
	border-radius:25px;
	background-image: url("candy4.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/*
#holder {
	width: 700px;
	height: 250px;
	margin: 0px auto;
}

#about {
	float:left;
	width: 200px;
	height: 225px;
	background-color: #000000;
	margin:16px;
}

#contact {
	float: left;
	width: 200px;
	height: 225px;
	background-color: #000000;
	margin:16px;
}

#order {
	float:left;
	width: 200px;
	height: 225px;
	background-color: #000000;
	margin:16px;
}
*/

#more {
	width:700px;
	height: 120px;
	margin: 0px auto;
	background-color: #575254;
	position: relative;
	vertical-align: middle;
}

h4 {
	color: #FFFFFF;
	size: 15px;
}

#moretext {
	display: table-cell;
	width: 700px;
	height: 120px;
	position: relative;
	vertical-align:middle;
	text-align: center;
	/*
	background-color:#FAC8D9;
	*/
	background:linear-gradient(to right,#F75A93,#F75A73);
}

nav ul li {
	display: inline;
	list-style: none;
	margin-right:0.5em;
}