
Body{
	background-image: url(images/ivory-off-white-paper-texture.jpg) ;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	font:1em Arial Rounded MT Bold, Helvetica, Arial, sans-serif;
	}

#header {
	width: 700px;
	height: 100px;
	background-image: url("images/headerimage3.png");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	position: relative;
	vertical-align: middle;
	margin: 0px auto;
	}
	
#mainlogo{
	float:left;
	width: 100px;
	height: 100px;
	background-color: #000000;
	position:relative;
	}
	
#logoimg {
	float:left;
	width: 600px;
	height: 100px;
	position: relative;

}

#search {
	display: table-cell;
	width:150px;
	height:20px;
	position: relative;
	vertical-align: middle;
	text-align: center;
	margin: 50px 0px 50px 200px;
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:1em;
	border-color: #F75A93;
	
	
}

#sbutton {
	width:100px;
	height:30px;
	position:relative;
	background-color: #F75A93;
	font-size: 15px;
	color: #FFFFFF;
	border-radius: 10px;
}


#mainmenu{
	
	height: 50px;
	width:665px;
	margin: 0px auto;
	border-style:none;
	
	background:linear-gradient(to right,#F75A93,#F75A73);
	text-indent:0em;
		padding-top:0.5px;

	padding-left:1em;
	padding-right:1em;
	padding-bottom:0.5px;
	border-radius:15px;
}
#mainmenu{
	margin-top:2em;
	}
A:link {
	text-decoration: none;
	color:#FFF ;
}
A:visited { 
	text-decoration: none;
	color: #FFF;
}
A:active {
	text-decoration: none;
	color: #FFF;
}

#mainmenu li:hover {
	
	
	background: #FF91AF;
	padding-top:1em;
	padding-bottom:1em;	
	border-radius:5px;
}
#mainmenu li{
display: inline;
	list-style-type: none;
	margin-top: 2em;
	margin-right:10px;/*spreads out the items in main menu for better spacing*/
	padding-bottom:0;
	padding-top:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	border-style:none;
	
}

#viewchange{
height: 40px;
	width:100px;
	margin: 0px auto;
	border-style:none;
	
	background:linear-gradient(to right,#F75A93,#F75A73);
	text-indent:0em;
		padding-top:0.5px;

	padding-left:1em;
	padding-right:1em;
	padding-bottom:0.5px;
	border-radius:15px;
	}
/*div#viewchange{
	
	border-style:none;
	margin-bottom:0em;
	margin-left:33.25em;
	margin-top:2em;
	background:linear-gradient(to right,#F75A93,#F75A73);
	text-indent:0em;
	padding-top:0.04px;
	padding-left:0em;
	padding-right:1em;
	padding-bottom:0px;
	font-size:60%;
		border-radius:15px;

}
div#viewchange{
	height:32px;
	width:110px;
	margin: 0px auto;
	float:left;
	}*/
A:link {
	text-decoration: none;
	color:#FFF ;
}
A:visited { 
	text-decoration: none;
	color: #FFF;
}
A:active {
	text-decoration: none;
	color: #FFF;
}

div#viewchange li:hover {
	
	
	background: #FF91AF;
	padding-top:20px;
	padding-bottom:0em;
	
	
}
div#viewchange li{
display: inline;
	list-style-type: none;
	margin-top: 0px;
	margin-bottom:1px;
	margin-left:0px;
	padding-bottom:0;
	padding-top:0.5em;
	padding-left:0.5em;
	border-style:none;
	
}

div#submenu{
	
	height: 40px;
	width:665px;
	margin: 0px auto;
	border-style:none;
	font-size:14px;
	background:linear-gradient(to right,#F75A93,#F75A73);
	text-indent:0em;
	padding-top:0.5px;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:5px;
	border-radius:15px;
}
div#submenu{
	margin-top:2em;
	}
A:link {
	text-decoration: none;
	color:#FFF ;
}
A:visited { 
	text-decoration: none;
	color: #FFF;
}
A:active {
	text-decoration: none;
	color: #FFF;
}

div#submenu li:hover {
	
	
	background: #FF91AF;
	padding-top:1em;
	padding-bottom:1em;	
	border-radius:5px;
}
#submenu li{
display: inline;
	list-style-type: none;
	margin-top: 2em;
	margin-right:15px;
	padding-bottom:0;
	padding-top:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	border-style:none;
	
}



	
div#items{



	
	text-indent:2.5em;
	
	border-bottom-style:solid;
	border-color: #F13C76;
	
}

div#footerimage img{
margin-left:60em;
float:left;


}
<!--div#footertext {

font-size:60%;
border-style:none;
	margin-bottom:0em;
	margin-right:48em;
	margin-left:33.25em;
	margin-top:2em;
	background:linear-gradient(to right,#F75A93,#F75A73);
	text-indent:0em;
	padding-top:0.04px;
	padding-left:0em;
	padding-right:1em;
	padding-bottom:0px;
	float:right;
}-->




div#menu {
	margin-left:20em;
	padding-left:0em;
	padding-right:5em;
	}
	#about {
	float:left;
	
	margin:16px;
}

#contact {
	float: left;
	
	margin:16px;
}

#home {
	float:left;
	
	margin:16px;
}
	
#footer {
	width:700px;
	height: 0px;
	margin: 0px auto;
	background:linear-gradient(to right,#F75A93,#F75A73);
}

h4 {
	color: #FFFFFF;
	size: 5px;
}

#fnote {
	display: table-cell;
	width: 700px;
	height: 50px;
	margin:0px auto;
	text-align: center;
	background:linear-gradient(to right,#F75A93,#F75A73);

}
#fnote li{
display: inline;
	list-style: none;
	margin-right:0.5em;
	}

#rowview {
	width: 700px;
	height: 900px;
	margin: 0px auto;
}

#product {
	width: 700px;
	height: 300px;
	/*background-color: #FFFFFF;*/
	margin: 0px auto;
	background-color: rgba(0,0,0,0.5);
	border-radius:15px;
	border: #F75A93;
	border-bottom-style:solid;
	border-width:2px;
	position: relative;
	padding-top:5px;
}

#box1 {
	width: 550px;
	height: 120px;
	/*
	background-color: #FF0000;*/
	margin: 25px 20px 25px 20px;
	}


#productimage {
	float: left;
	width: 120px;
	height: 120px;
	background-color: #000000;
	border-radius: 10px;
	position: relative;
	margin: 0px 30px 0px 0px;
}


#prodtext	{
	float: left;
	width: 300px;
	height: 120px;
	
	position: relative;
	padding: 5px;
	margin: 0px 10px 0px 0px;
}

h7 {
	font-size: 20px;
	color: #F75A93;
}

h6{
	font-size: 12px;
		


#cart {
	float: left;
	width: 80px;
	height: 120px;
	position: relative;
	vertical-align: middle;
	text-align: center;
}

#cartbutton {
	width:80px;
	height:30px;
	position:relative;
	margin: 45px 0px 45px 0px;
	background-color: #6EDDFF;
	font-size: 10px;
	color: #FFFFFF;
	border-radius: 5px;
	}