/* as title and headers are similar, just get the codes from home page and change a little bit then change the values*/
body {
	background-image:url('bg.jpg');
	font: 1em Arial Rounded MT Bold, Helvetica, Arial, sans-serif;	
	}



h1   {
	text-align: right;
	color: #FFFFFF;
	font-size:15px;
	position: absolute; bottom: 0; right:0;
}

body { /* make everything at the middle*/
	/*text-align: center;*/
}


#titleHolder {  /*group the candy and candyimage,make them in the middle of the page */
	width: 480px;
	height: 50px;
	margin: 0px auto;
}

#candy {
	float: left;
	/*
	background-color:#FAC8D9;
	
	background:linear-gradient(to right,#F75A93,#F75A73);*/
	width:100px;
	height:100px;
	position: relative; /* without this it will be at the bottom of the page */
	/*margin: 0px auto;*/
	/*padding: 10px 20px 10px 20px;*/
	/*margin:50px, 0px, 50px, 100px;
	border-top-left-radius:1em;
	border-top-right-radius:0em;
	border-bottom-right-radius:0em;
	border-bottom-left-radius:1em;
	*/
}

#mainlogo{
	float:left;
	width: 50px;
	height: 50px;
	background-color: #000000;
	position:relative;
	}
	
#mimage {
    height: 50px;
}

img {
    vertical-align: middle;
    height: 100%;
}

#candyimage {
	float: left;
	background-color: #000000;
	width:430px;
	height:50px;
	/*margin: 0px auto;*/
	/*padding: 10px 20px 10px 20px;
	margin:50px, 100px, 50px, 0px;
	border-top-left-radius:0em;
	border-top-right-radius:1em;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:0em;
	*/
	background-image: url("header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	position: relative;
	vertical-align: middle;
}

   		  
#search {
	display: table-cell;
	width:150px;
	height:20px;
	position: relative;
	vertical-align: middle;
	text-align: center;
	margin: 15px 0px 15px 100px;
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:1em;
	border-color: #F75A93;
	
}

#sbutton {
	width:80px;
	height:30px;
	position:relative;
	background-color: #F75A93;
	font-size: 12px;
	color: #FFFFFF;
	border-radius: 10px;
}

h2 {
	color: #FFFFFF;
	font-size: 30px;
}

#mainmenu{
	display:none;
	height: 50px;
	width:300px;
	margin: 0px auto;
	border-style:none;
	
	background:linear-gradient(to right,#F75A93,#F75A73);
	text-indent:0em;
	padding-top:0.5px;

	padding-left:1em;
	padding-right:1em;
	padding-bottom:0.5px;
	border-radius:15px;
}
#mainmenu{
	margin-top:2em;
	}
A:link {
	text-decoration: none;
	color:#FFF ;
	opacity: .9;
}
A:visited { 
	text-decoration: none;
	color: #FFF;
}
A:active {
	text-decoration: none;
	color: #FFF;
}

#mainmenu li:hover {
	background: #FF91AF;
	
	padding-top:2px;
	padding-bottom:2px;	
	border-radius:25px;
}
#mainmenu li{
	display: hide;
	list-style-type: none;
	margin-top: 1em;
	margin-right: 1px;/*spreads out the items in main menu for better spacing*/
	padding-bottom:0;
	padding-top:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	border-style:none;
	-moz-transition: background-color, color 2s;
	-webkit-transition:background-color, color 2s;
	-o-transition: background-color, color, 2s;
	transition: background-color, color, 2s;
	font-size: 10px;
	
}

#mainmenu2{
	display: run-in;
	width: 300px;
	height: 80px;

	border-style:none;
	background:linear-gradient(to right,#F75A93,#F75A73);
	background:-webkit-linear-gradient(right,#F75A93,#F75A73);
	border-radius:15px;
	/*	margin: 0px auto;*/
	margin: 0px 90px 0px 90px;
}

#menu480{
	width:240px;
	height:60px;
	margin: 10px 30px 10px 30px;
	position:absolute;
	
}

.menuleft{
	float: left;
	width: 120px;
	height: 20px;
	position:relative;
	display: inline;
	list-style-type: none;
	text-align:center;
}

.menuleft ul{
	list-style-type: none;
	margin: 0px 0px 0px -40px;
}

.menuright{
	float: left;
	width: 120px;
	height: 20px;
	position:relative;
	display: inline;
	list-style-type: none;
	text-align:center;
}

.menuright ul{
	list-style-type: none;
	margin: 0px 0px 0px -40px;
}

.menufont{
	font-size: 2px;
}

#mainmenu2{
	margin-top:2em;
	}
A:link {
	text-decoration: none;
	color:#FFF ;
	opacity: .9;
}
A:visited { 
	text-decoration: none;
	color: #FFF;
}
A:active {
	text-decoration: none;
	color: #FFF;
}

#mainmenu2 li:hover {
	background: #FF91AF;
	padding-top:2px;
	padding-bottom:2px;	
	border-radius:25px;
}


#mainmenu2 li{
	display: inline;
	list-style-type: none;
	margin-top: 2em;
	margin-right:10px;
	padding-top:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	border-style:none;
	-moz-transition: background-color, color 2s;
	-webkit-transition:background-color, color 2s;
	-o-transition: background-color, color, 2s;
	transition: background-color, color, 2s;	
}

/*result text on the image*/
#rtext{
	display: table-cell;
	width: 480px;
	height: 200px;
	position: relative;
	vertical-align:middle;
	text-align: center;
	/*opacity: .8;
	text-shadow: -2px 0 #F75A93, 0 2px #F75A93, 2px 0 #F75A93, 0 -2px #F75A93;*/
	
}


h2 {
	color: #F75A93;
	font-size: 40px;
}

#rbox {
	width: 480px;
	height: 980px;
	/*background-color: #FFFFFF;
	opacity: .5;*/
	/*
	background-color:rgba(255,255,255,0.5);*/ /*just opacity the background not everything*/
	margin: 0px auto;
}

.caramel1 {
	width: 480px;
	height: 170px;
	/*
	background-color: #FFFFFF;
	location testing*/
	margin: 0px auto;
	border: #F75A93;
	border-style: none none solid none;
	border-width:3px;
	position: relative;
}

.box1 {
	width: 400px;
	height: 120px;
	/*
	background-color: #FF0000;
	position testing*/
	margin: 25px 20px 25px 20px;
	}


.cimage1 {
	float: left;
	width: 120px;
	height: 120px;
	background-color: #000000;
	border-radius: 10px;
	position: relative;
	margin: 0px 0px 0px 0px;
	background-image: url("caramel1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.cimage2 {
	float: left;
	width: 120px;
	height: 120px;
	background-color: #000000;
	border-radius: 10px;
	position: relative;
	margin: 0px 0px 0px 0px;
	background-image: url("caramel2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.cimage3 {
	float: left;
	width: 120px;
	height: 120px;
	background-color: #000000;
	border-radius: 10px;
	position: relative;
	margin: 0px 0px 0px 0px;
	background-image: url("caramel3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.cimage4 {
	float: left;
	width: 120px;
	height: 120px;
	background-color: #000000;
	border-radius: 10px;
	position: relative;
	margin: 0px 0px 0px 0px;
	background-image: url("caramel4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


.caratext	{
	float: left;
	width: 180px;
	height: 120px;
	/*
	margin: 25px 20px 25px 20px;
	background-color:#000000;
	border: 1px solid;*/
	position: relative;
	padding: 5px;
	margin: 0px 10px 0px 0px;
}

.h7 {
	font-size: 12px;
}

.cartb {
	float: left;
	width: 80px;
	height: 120px;
	position: relative;
	vertical-align: middle;
	text-align: center;
}


#cartbutton1 {
	width:80px;
	height:30px;
	position:relative;
	margin: 45px 0px 45px 0px;
	background-color: #6EDDFF;
	font-size: 10px;
	color: #FFFFFF;
	border-radius: 5px;
	}

#cartbutton2 {
	width:80px;
	height:30px;
	position:relative;
	margin: 45px 0px 45px 0px;
	background-color: #6EDDFF;
	font-size: 10px;
	color: #FFFFFF;
	border-radius: 5px;
	}

#cartbutton3 {
	width:80px;
	height:30px;
	position:relative;
	margin: 45px 0px 45px 0px;
	background-color: #6EDDFF;
	font-size: 10px;
	color: #FFFFFF;
	border-radius: 5px;
	}

#cartbutton4 {
	width:80px;
	height:30px;
	position:relative;
	margin: 45px 0px 45px 0px;
	background-color: #6EDDFF;
	font-size: 10px;
	color: #FFFFFF;
	border-radius: 5px;
	}
		
/*here is the check out button*/

#checkbox {
	width:480px;
	height: 30px;
	margin: 0px auto;
	/*background-color: #000000;*/
	/*just used to test where is the box*/
}

#checkbutton {
	width:200px;
	height:30px;
	margin: 0px 140px 0px 140px;
	background:linear-gradient(to right,#F75A93,#F75A73);
	background:-webkit-linear-gradient(right,#F75A93,#F75A73);
	font-size: 15px;
	color: #FFFFFF;
	border-radius: 5px;
	border-color: #EB0075;
	}




/* here is the botton part of the home page is exactly the same*/


#more {
	width:480px;
	height: 120px;
	margin: 0px auto;
	background-color: #575254;
	position: relative;
	vertical-align: middle;
}

h4 {
	color: #FFFFFF;
	size: 15px;
}

#moretext {
	display: table-cell;
	width: 480px;
	height: 120px;
	position: relative;
	vertical-align:middle;
	text-align: center;
	/*
	background-color:#FAC8D9;
	*/
	background:linear-gradient(to right,#F75A93,#F75A73);
	background:-webkit-linear-gradient(right,#F75A93,#F75A73);
}

nav ul li {
	display: inline;
	list-style: none;
	margin-right:0.5em;
}

h4{
	font-size: 10px;
}


#moretext a:link {
   		  color: #FFFFFF;
		  text-decoration: none;
  		  opacity: .8;
  		  }
#moretext a:visited {
  		 color: #FFFFFF;
  	     opacity: .1;	
  		  }
#moretext a:hover {
   		  text-decoration: none;
  		  color: #FFFFFF;
   		  opacity: 1;
   		  }
#moretext a:active {
   		  text-decoration: none;
   		  color: #FFFFFF;
   		  opacity:.7;
   		  }
   		  
