/* as title and headers are similar, just get the codes from home page and change a little bit then change the values*/
body {
	background-image:url('bg.jpg');
	font: 1em Arial Rounded MT Bold, Helvetica, Arial, sans-serif;	
	}



h1   {
	text-align: right;
	color: #FFFFFF;
	font-size:15px;
	position: absolute; bottom: 0; right:0;
}

body { /* make everything at the middle*/
	/*text-align: center;*/
}


#titleHolder {  /*group the candy and candyimage,make them in the middle of the page */
	width: 700px;
	height: 100px;
	margin: 0px auto;
}

#candy {
	float: left;
	/*
	background-color:#FAC8D9;
	*/
	background:linear-gradient(to right,#F75A93,#F75A73);
	width:100px;
	height:100px;
	position: relative; /* without this it will be at the bottom of the page */
	/*margin: 0px auto;*/
	/*padding: 10px 20px 10px 20px;*/
	/*margin:50px, 0px, 50px, 100px;*/
	border-top-left-radius:1em;
	border-top-right-radius:0em;
	border-bottom-right-radius:0em;
	border-bottom-left-radius:1em;
	
}

#candyimage {
	float: left;
	background-color: #000000;
	width:600px;
	height:100px;
	/*margin: 0px auto;*/
	/*padding: 10px 20px 10px 20px;
	margin:50px, 100px, 50px, 0px;*/
	border-top-left-radius:0em;
	border-top-right-radius:1em;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:0em;
	background-image: url("header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	position: relative;
	vertical-align: middle;
}

   		  
   		  
#search {
	display: table-cell;
	width:150px;
	height:20px;
	position: relative;
	vertical-align: middle;
	text-align: center;
	margin: 40px 0px 40px 200px;
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:1em;
	border-color: #F75A93;
	
}

#sbutton {
	width:100px;
	height:30px;
	position:relative;
	background-color: #F75A93;
	font-size: 15px;
	color: #FFFFFF;
	border-radius: 10px;
}

h2 {
	color: #FFFFFF;
	font-size: 30px;
}


/*
#holder {
	width: 700px;
	height: 60px;
	margin: 0px auto;
	background:linear-gradient(to right,#F75A93,#F75A73);
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:1em;
}

h5{
	color: #FFFFFF;
	font-size: 15px;
}

#about {
	float:left;
	width: 175px;
	height: 60px;

	position: relative;
	vertical-align: middle;
	border-top-style:none;
	border-right-style:solid;
	border-right-color: #E8E8E8;
	border-right-width: 1px;
	border-left-style:none;
	border-bottom-style:none;
	border-top-left-radius:1em;
	border-top-right-radius:0em;
	border-bottom-right-radius:0em;
	border-bottom-left-radius:1em;
}

#atext {
	display: table-cell;
	width: 175px;
	height: 60px;
	position: relative;
	vertical-align:middle;
	text-align: center;
}

#atext a:link {
   		  color: #FFFFFF;
		  text-decoration: none;
  		  opacity: .9;
  		  }
#atext a:visited {
  		 color: #FFFFFF;
  	     opacity: .1;	
  		  }
#atext a:hover {
		font-size: 20px;
		text-shadow: -1px 0 #FF9696, 0 1px #FF9696, 1px 0 #FF9696, 0 -1px #FF9696;
		border-color: #000000;
   		text-decoration: none;
  		color: #FFFFFF;
   		opacity: 1;
   		  }


#contact {
	float:left;
	width: 175px;
	height: 60px;

	position: relative;
	vertical-align: middle;
	border-top-style:none;
	border-right-style:solid;
	border-right-color: #E8E8E8;
	border-right-width: 1px;
	border-left-style:none;
	border-bottom-style:none;
}

#ctext {
	display: table-cell;
	width: 175px;
	height: 60px;
	position: relative;
	vertical-align:middle;
	text-align: center;
}
#ctext a:link {
   		  color: #FFFFFF;
		  text-decoration: none;
  		  opacity: .9;
  		  }
#ctext a:visited {
  		 color: #FFFFFF;
  	     opacity: .1;	
  		  }
#ctext a:hover {
		font-size: 20px;
		text-shadow: -1px 0 #FF9696, 0 1px #FF9696, 1px 0 #FF9696, 0 -1px #FF9696;
		border-color: #000000;
   		text-decoration: none;
  		color: #FFFFFF;
   		opacity: 1;
   		  }


#buy {
	float:left;
	width: 175px;
	height: 60px;

	position: relative;
	vertical-align: middle;
	border-top-style:none;
	border-right-style:solid;
	border-right-color: #E8E8E8;
	border-right-width: 1px;
	border-left-style:none;
	border-bottom-style:none;
}

#btext {
	display: table-cell;
	width: 175px;
	height: 60px;
	position: relative;
	vertical-align:middle;
	text-align: center;
}
#btext a:link {
   		  color: #FFFFFF;
		  text-decoration: none;
  		  opacity: .9;
  		  }
#btext a:visited {
  		 color: #FFFFFF;
  	     opacity: .1;	
  		  }
#btext a:hover {
		font-size: 20px;
		text-shadow: -1px 0 #FF9696, 0 1px #FF9696, 1px 0 #FF9696, 0 -1px #FF9696;
		border-color: #000000;
   		text-decoration: none;
  		color: #FFFFFF;
   		opacity: 1;
   		  }

#icon {
	float:left;
	width: 172px;
	height: 60px;

	position: relative;
	border-top-left-radius:0em;
	border-top-right-radius:1em;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:0em;
}*/


#mainmenu{
	
	height: 50px;
	width:665px;
	margin: 0px auto;
	border-style:none;
	
	background:linear-gradient(to right,#F75A93,#F75A73);
	text-indent:0em;
	padding-top:0.5px;

	padding-left:1em;
	padding-right:1em;
	padding-bottom:0.5px;
	border-radius:15px;
}
#mainmenu{
	margin-top:2em;
	}
A:link {
	text-decoration: none;
	color:#FFF ;
	opacity: .9;
}
A:visited { 
	text-decoration: none;
	color: #FFF;
}
A:active {
	text-decoration: none;
	color: #FFF;
}

#mainmenu li:hover {
	background: #FF91AF;
	
	padding-top:2px;
	padding-bottom:2px;	
	border-radius:25px;
}
#mainmenu li{
	display: inline;
	list-style-type: none;
	margin-top: 2em;
	margin-right:10px;/*spreads out the items in main menu for better spacing*/
	padding-bottom:0;
	padding-top:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	border-style:none;
	-moz-transition: background-color, color 2s;
	-webkit-transition:background-color, color 2s;
	-o-transition: background-color, color, 2s;
	transition: background-color, color, 2s;	
	
}


#result {
	width: 700px;
	height: 200px;
	margin: 0px auto;
	position: relative;
	vertical-align: middle;
	/*
	background-image: url("result.jpg");*/X
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:1em;

}

/*result text on the image*/
#rtext{
	display: table-cell;
	width: 700px;
	height: 200px;
	position: relative;
	vertical-align:middle;
	text-align: center;
	/*opacity: .8;
	text-shadow: -2px 0 #F75A93, 0 2px #F75A93, 2px 0 #F75A93, 0 -2px #F75A93;*/
	
}


h2 {
	color: #F75A93;
	font-size: 40px;
}

#rbox {
	width: 700px;
	height: 980px;
	/*background-color: #FFFFFF;
	opacity: .5;*/
	/*
	background-color:rgba(255,255,255,0.5);*/ /*just opacity the background not everything*/
	margin: 0px auto;
}

.caramel1 {
	width: 600px;
	height: 170px;
	/*background-color: #FFFFFF;*/
	margin: 0px auto;
	border: #F75A93;
	border-style: none none solid none;
	border-width:3px;
	position: relative;
}

.box1 {
	width: 550px;
	height: 120px;
	/*
	background-color: #FF0000;*/
	margin: 25px 20px 25px 20px;
	}


.cimage1 {
	float: left;
	width: 120px;
	height: 120px;
	background-color: #000000;
	border-radius: 10px;
	position: relative;
	margin: 0px 30px 0px 0px;
}


.caratext	{
	float: left;
	width: 300px;
	height: 120px;
	/*
	margin: 25px 20px 25px 20px;
	background-color:#000000;
	border: 1px solid;*/
	position: relative;
	padding: 5px;
	margin: 0px 10px 0px 0px;
}

.h7 {
	font-size: 12px;
}

.cartb {
	float: left;
	width: 80px;
	height: 120px;
	position: relative;
	vertical-align: middle;
	text-align: center;
}


#cartbutton1 {
	width:80px;
	height:30px;
	position:relative;
	margin: 45px 0px 45px 0px;
	background-color: #6EDDFF;
	font-size: 10px;
	color: #FFFFFF;
	border-radius: 5px;
	}

#cartbutton2 {
	width:80px;
	height:30px;
	position:relative;
	margin: 45px 0px 45px 0px;
	background-color: #6EDDFF;
	font-size: 10px;
	color: #FFFFFF;
	border-radius: 5px;
	}

#cartbutton3 {
	width:80px;
	height:30px;
	position:relative;
	margin: 45px 0px 45px 0px;
	background-color: #6EDDFF;
	font-size: 10px;
	color: #FFFFFF;
	border-radius: 5px;
	}

#cartbutton4 {
	width:80px;
	height:30px;
	position:relative;
	margin: 45px 0px 45px 0px;
	background-color: #6EDDFF;
	font-size: 10px;
	color: #FFFFFF;
	border-radius: 5px;
	}
		
/*here is the check out button*/

#checkbox {
	width:700px;
	height: 30px;
	margin: 0px auto;
	/*
	background-color: #000000;*/ 
	/*just used to test where is the box*/
}

#checkbutton {
	width:200px;
	height:30px;
	margin: 0px 250px 0px 250px;
	background:linear-gradient(to right,#F75A93,#F75A73);
	font-size: 15px;
	color: #FFFFFF;
	border-radius: 5px;
	border-color: #EB0075;
	}




/* here is the botton part of the home page is exactly the same*/

#more {
	width:700px;
	height: 120px;
	margin: 0px auto;
	background-color: #575254;
	position: relative;
	vertical-align: middle;
}

h4 {
	color: #FFFFFF;
	size: 15px;
}

#moretext {
	display: table-cell;
	width: 700px;
	height: 120px;
	position: relative;
	vertical-align:middle;
	text-align: center;
	/*
	background-color:#FAC8D9;
	*/
	background:linear-gradient(to right,#F75A93,#F75A73);
}

nav ul li {
	display: inline;
	list-style: none;
	margin-right:0.5em;
}

#moretext a:link {
   		  color: #FFFFFF;
		  text-decoration: none;
  		  opacity: .8;
  		  }
#moretext a:visited {
  		 color: #FFFFFF;
  	     opacity: .1;	
  		  }
#moretext a:hover {
   		  text-decoration: none;
  		  color: #FFFFFF;
   		  opacity: 1;
   		  }
#moretext a:active {
   		  text-decoration: none;
   		  color: #FFFFFF;
   		  opacity:.7;
   		  }
   		  

