
Body{
	background-image: url(images/ivory-off-white-paper-texture.jpg) ;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	font:1em Arial Rounded MT Bold, Helvetica, Arial, sans-serif;
	}

#header {
	width: 700px;
	height: 100px;
	background-image: url("images/headerimage3.png");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	position: relative;
	vertical-align: middle;
	margin: 0px auto;
	}
	
#mainlogo{
	float:left;
	width: 100px;
	height: 100px;
	background-color: #000000;
	position:relative;
	}
	
#logoimg {
	float:left;
	width: 600px;
	height: 100px;
	position: relative;

}

#search {
	display: table-cell;
	width:150px;
	height:20px;
	position: relative;
	vertical-align: middle;
	text-align: center;
	margin: 50px 0px 50px 200px;
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:1em;
	border-color: #F75A93;
	
	
}

#sbutton {
	width:100px;
	height:30px;
	position:relative;
	background-color: #F75A93;
	font-size: 15px;
	color: #FFFFFF;
	border-radius: 10px;
}


div#search{
	
	border-style:none;
	margin-bottom:0em;
	margin-right:25em;
	margin-left:52em;
	margin-top:2em;
	background:#000;
	color:#000;
	text-indent:0em;
	padding-top:0.04px;
	padding-left:0em;
	padding-right:1em;
	padding-bottom:0px;
	border-radius:15px;
}
div#search{
	margin-top:2em;
	}
A:link {
	text-decoration: none;
	color:#000 ;
}
A:visited { 
	text-decoration: none;
	color: #000;
}
A:active {
	text-decoration: none;
	color: #000;
}


div#search li{
display: inline;
	list-style-type: none;
	margin-top: 2em;
	padding-bottom:0;
	padding-top:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	border-style:none;
		

	
}

div#buy{
	
	border-style:none;
	margin-bottom:0em;
	margin-right:25em;
	margin-left:52em;
	margin-top:2em;
	background:linear-gradient(to right,#F75A93,#F75A73);
	text-indent:0em;
	padding-top:0.04px;
	padding-left:0em;
	padding-right:1em;
	padding-bottom:0px;
		border-radius:15px;

}
div#buy{
	margin-top:2em;
	}
A:link {
	text-decoration: none;
	color:#FFF ;
}
A:visited { 
	text-decoration: none;
	color: #FFF;
}
A:active {
	text-decoration: none;
	color: #FFF;
}

div#buy li:hover {
	
	
	background: #F13C76;
	padding-top:0.65em;

	padding-bottom:0em;
	
	
}
div#buy li{
display: inline;
	list-style-type: none;
	margin-top: 2em;
	padding-bottom:0;
	padding-top:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	border-style:none;
	
}


div#viewchange{
	
	border-style:none;
	margin-bottom:0em;
	margin-right:98em;
	margin-left:33.25em;
	margin-top:2em;
	background:linear-gradient(to right,#F75A93,#F75A73);
	text-indent:0em;
	padding-top:0.04px;
	padding-left:0em;
	padding-right:1em;
	padding-bottom:0px;
	font-size:60%;
		border-radius:15px;

}
div#viewchange{
	margin-top:2em;
	}
A:link {
	text-decoration: none;
	color:#FFF ;
}
A:visited { 
	text-decoration: none;
	color: #FFF;
}
A:active {
	text-decoration: none;
	color: #FFF;
}

div#viewchange li:hover {
	
	
	background: #F13C76;
	padding-top:0.65em;

	padding-bottom:0em;
	
	
}
div#viewchange li{
display: inline;
	list-style-type: none;
	margin-top: 2em;
	padding-bottom:0;
	padding-top:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	border-style:none;
	
}

div#submenu{
	
	border-style:none;
	margin-bottom:0em;
	margin-right:25em;
	margin-left:20em;
	margin-top:2em;
	background:linear-gradient(to right,#F75A93,#F75A73);
	text-indent:0em;
	padding-top:0.5px;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:0.5px;
	border-radius:15px;
}
div#submenu{
	margin-top:2em;
	}
A:link {
	text-decoration: none;
	color:#FFF ;
}
A:visited { 
	text-decoration: none;
	color: #FFF;
}
A:active {
	text-decoration: none;
	color: #FFF;
}

div#submenu li:hover {
	
	
	background: #F13C76;
	padding-top:1em;
	padding-bottom:1em;	
}
#submenu li{
display: inline;
	list-style-type: none;
	margin-top: 2em;
	padding-bottom:0;
	padding-top:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	border-style:none;
	
}

div#header {
	margin-left:20em;
	padding-left:0em;
	}
div#header2 {
	margin-left:26em;
	margin-top:0em;
	}
	
div#items{


	margin-bottom:0em;
	margin-right:25em;
	margin-left:20em;
	margin-top:0em;
	
	text-indent:2.5em;
	
	border-bottom-style:solid;
	border-color: #F13C76;
	
}

div#footerimage img{
margin-left:60em;
float:left;


}
<!--div#footertext {

font-size:60%;
border-style:none;
	margin-bottom:0em;
	margin-right:48em;
	margin-left:33.25em;
	margin-top:2em;
	background:linear-gradient(to right,#F75A93,#F75A73);
	text-indent:0em;
	padding-top:0.04px;
	padding-left:0em;
	padding-right:1em;
	padding-bottom:0px;
	float:right;
}-->




div#menu {
	margin-left:20em;
	padding-left:0em;
	padding-right:5em;
	}
	#about {
	float:left;
	
	margin:16px;
}

#contact {
	float: left;
	
	margin:16px;
}

#home {
	float:left;
	
	margin:16px;
}
	
#footer {
	width:0px;
	height: 0px;
	margin: 0px auto;
	background:linear-gradient(to right,#F75A93,#F75A73);
	position: relative;
	vertical-align: middle;
}

h4 {
	color: #FFFFFF;
	size: 5px;
}

#fnote {
	display: table-cell;
	width: 500px;
	height: 50px;
	position: relative;
	vertical-align:middle;
	text-align: center;
	background:linear-gradient(to right,#F75A93,#F75A73);

}
#fnote li{
display: inline;
	list-style: none;
	margin-right:0.5em;
	}

